@model List<AppRole>


@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Roller</h3>
<hr />
<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Rol İsmi</th>
            <th>Silme</th>
            <th>Güncelleme</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <form asp-action="RoleDelete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
                <td><a class="btn bg-info" asp-action="RoleUpdate" asp-route-id="@item.Id">Güncelle</a></td>
            </tr>
        </tbody>
    }


</table>


<a asp-controller="Admin" asp-action="RoleCreate" class="btn btn-outline-primary">Role Oluştur</a>


